<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <listeners>
        <listener class-name="com.epam.training.student_josegutierrez.utilities.TestListener" />
    </listeners>
    <test name="Framework Task Tests">
        <classes>
            <class name="com.epam.training.student_josegutierrez.tests.Framework_Task.ComputeEngineTests"/>
        </classes>
    </test>
</suite>